<h1>Timeboard</h1>
<h3> Welcome </h3>
<p> This is Timeboard, the new and improved way for CoC TA's to fill out their timesheets.  This is using the Georgia Tech login-system, so you don't have to create a new account.  However, if you are having issues logging in, getting messages along the lines of "User is not in the system", contact Bill Leahy about making sure you are registered for this system. </p>

