
<h1>Timesheets</h1>
<p>Welcome <%= @user.name%> </p>

<div id="prof-timesheet-list">
  <table class="listview">
    <thead>
      <tr>
        <th>
          Name
        </th>           
        <th>
          Date
        </th>           
        <th>
          Hours
        </th>           
        <% if @requested_status == "Signed" %> 
	<th>
          Approve
        </th>
        <% end %>           
      </tr>
    </thead>
    <tbody>
      <% @timesheet_list.each do |timesheet| %>
      <tr>
        <td>
          <%= timesheet.student.name %>
        </td>
        <td>
          Somedate
        </td>
        <td>
          Somehours
        </td>
        <% if @requested_status == "Signed" %>
        <td>
          <input type="checkbox">
        </td>
        <% end %>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% if @requested_status == "Signed" %>
<div class="submit-button">
  <input type="submit" value="Approve" />
</div>
<% end %>
