
<% @working_list = @timesheet_list.where(signed?)%>
<h1>Timesheets</h1>
<p>Welcome <%= @user.name%> </p>

<div id="prof-timesheet-list">
  <table class="listview">
    <thead>
      <tr>
        <th>
          Name
        </th>           
        <th>
          Date
        </th>           
        <th>
          Hours
        </th>           
        <th>
          Approve
        </th>           
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Example Name
        </td>
        <td>
          Example Date
        </td>
        <td>
          40
        </td>
        <td>
          <input type="checkbox">
        </td>
      </tr>
      <tr>
        <td>
          Other Name
        </td>
        <td>
          Another Date
        </td>
        <td>
          30
        </td>
        <td>
          <input type="checkbox">
        </td>
      </tr>
      <% @timesheet_list.each do |timesheet| %>
      <tr>
        <td>
          <%= timesheet.student.name %>
        </td>
        <td>
          Somedate
        </td>
        <td>
          Somehours
        </td>
        <td>
          <input type="checkbox">
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="submit-button">
  <input type="submit" value="Approve" />
</div>
