<style type="text/css">
    input {
	width: 40px;
    }
    h3 {
	text-align: center;
    }
    #timesheet {
	width: 500px;
    }
    th {
	text-align: left;
    }
</style>



<div id="timesheet">
    <h3>
	James King <br />
	CS 1331 <br />
    </h3>
    <table width="100%">
	<tr>
	    <th />
	    <th> Thur </th>
	    <th> Fri </th>
	    <th> Sat </th>
	    <th> Sun </th>
	    <th> Mon </th>
	    <th> Tues </th>
	    <th> Wed </th>
	</tr>
	<tr>
	    <td> Jan 1st 2011 - Jan 7th 2011
	    <td> <input type="text"> </td>
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	</tr>
	<tr>
	    <td> Jan 8th 2011 - Jan 14th 2011
	    <td> <input type="text"> </td>
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	    <td> <input type="text"> </td> 
	</tr>
    <table>
</div>
