header {
  padding-top: 20px;
  margin-bottom: 20px;
}

body {
  background: #6D7B8D;
}

nav {
  float: right;
}

nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0.2em 0;
}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}

.round {

  -moz-border-radius:   10px;
  -webkit-border-radius: 10px;
  border-radius:        10px;

}

#toolmenu {
  background-color: white;
}

#toolmenu ul{
  list-style: none outside none;
}

#toolmenu li {
  text-align: center;
  font-size: 120%;
  font-weight: bold;
/*  border-style: solid;
*  border-width: thin;
*/
}

#toolmenu li a {
  color: black;
  text-decoration: none;
  display: block;
  background: #C3D9FF;
  margin-left: 0px;
  font-weight: normal;
}

#toolmenu li a:hover {
  background: #E5ECF9;
}

#mainview {
  background-color: white;
}

#mainview-inner {
  padding: 10px;
}

.submit-button {
  float: right;
  padding: 10px;
}

