<header>
  <nav class="round" style="margin-bottom: 30px">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= if(session[:cas_user].nil?)
                link_to( "Login", login_path)
              else
		link_to("Logout", logout_path)
              end%></li>
    </ul>
  </nav>
</header>

