<ul>
  <li>
    <span>Timesheets</span>
  </li>
  <li>
    <%= link_to "Current", '#', :class => "toollink"%>
  </li>
  <li>
    <%= link_to "Outstanding", '#', :class => "toollink"%>
  </li>
  <li>
    <%= link_to "Approved", '#', :class => "toollink"%>
  </li>
</ul>
